#canvas {
  background-image: url("../images/field.jpg");
  background-size: contain;
  height: 100%;
  padding-bottom: 5px;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: #f2eded;
  overflow: hidden;
}

#canvas-holder {
  overflow: hidden;
  width: 75vw;
  height: auto;
  border: 1px solid black;
  margin: auto;
}

.sidebar {
  position: fixed;
}

.title {
  font-size: 3vw;
  margin-bottom: 0.3em;
}

.direction {
  font-size: 1.5vw;
  margin: 0 1.5vw;
  text-align: center;
}

.instruction-title {
  text-decoration: underline;
}

.start {
  color: red;
}
.icon-git {
  font-size: 5vw;
}

#audio-play,
#audio-pause,
.self {
  margin: 1vw;
}

#instruction {
  position: fixed;
  top: 20%;
  left: 35%;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
  align-items: center;
  background: beige;
  height: 55%;
  border-radius: 10px;
  overflow: auto;
}

.hidden {
  display: none;
}

#hidden {
  display: none;
}
