#canvas {
  border: 1px solid black;
  background: lightgray;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#canvas-holder {
  overflow: hidden;
  width: 75vw;
  height: auto;
  border-right: 1px solid black;
}

.sidebar {
  height: auto;
  width: 25%;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1.5fr 0.5fr;
  text-align: center;
}

.background{
  background-image: url('../images/chicken_background.jpg');
  background-size: cover;
}

.title {
  font-family: 'Eater', cursive;
  font-size: 3vw;
}

.direction{
  font-family: sans-serif;
  font-size: 1.5vw;
  justify-content: center;
}

.self {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.icon-git {
  font-size: 5vw;

}
